
.footnote::before {
  content: "[" attr(data-label) "]";
  display: inline-block;
}

body {
  background-color: #463d4e;
}

blockquote, div, p, h1, h2, h3 {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

a {
  color: #e68259;
}
