
html {
  position: relative;
  min-height: 100%;
  overflow-y: auto;
}

.footnote::before {
  content: "[" attr(data-label) "]";
  display: inline-block;
}

body {
  background-color: #463d4e;
}

blockquote, div, p, h1, h2, h3 {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

a {
  color: #e68259;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

blockquote {
  border-color: #e68259
}

td, th {
  border-color: hsla(0, 0%, 100%, 0.195);
}


::selection {
  background: rgba(242, 112, 82, 0.99);
}

::-moz-selection {
  background: rgba(242, 112, 82, 0.99);
}

pre {
    background: #2d2833;
}

code[class*="language-"],
pre[class*="language-"] {
  background: #2d2833 !important;
}
